*.o
*~
*.jpg
*.png

# hw2
hw2/src/lex.yy.*
hw2/src/scanner

# hw3
hw3/src/parser.output
hw3/src/parser.tab.h
hw3/src/AST_Graph.gv
hw3/src/lex.yy.c
hw3/src/parser
hw3/src/parser.tab.c
hw3/src/test

# hw4
hw4/symbolTable.o
hw4/lex.yy.c
hw4/parser
hw4/parser.output
hw4/parser.tab.c
hw4/parser.tab.h
hw4/test
hw4/test.c